@font-face {
    font-family: ar-font;
    src: url(../fonts/Cairo-SemiBold.ttf);
}

html {
    position: relative;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    direction: rtl;
    font-family: ar-font;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

/*
start header
*/

header.header a.navbar-brand {
    width: 20%;
}

header.header .overlay {
    background-color: #47090999;
}

header.header nav.navbar img {
    width: 100%;
    float: right;
    padding: 0;
    margin: 0;
}

header .header-text {
    text-align: right;
}

header .navbar {
    margin-bottom: 30px;
}

/*
end header
*/

/*
start section books
*/

section.books {
    background-color: #fff;
    padding: 25px 0;
    margin-bottom: 100px;
}

section.books .images {
    margin-top: 70px;
}

section.books .images img {
    width: 90%;
    height: 90%;
    margin-top: 20px;
}

/*
end section feature
*/

/*
start section contact
*/

section.contact {
    padding: 60px 0 40px;
    background-color: #131313;
    text-align: right;
}

section.contact .contact-us .title h4 {
    font-size: 18px;
    color: #758594;
    line-height: 50px;
}

section.contact ul {
    padding: 0;
    margin: 0;
}

section.contact ul.contact-us li {
    position: relative;
    font-size: 18px;
    color: #676767;
    line-height: 30px;
    margin-bottom: 35px;
}

section.contact ul.contact-us li:last-of-type {
    margin-bottom: 0;
}

section.contact ul.contact-us li i {
    position: absolute;
    width: 35px;
    height: 35px;
    background-color: #282828;
    text-align: center;
    line-height: 35px;
    color: #acacac;
    border-radius: 2px;
    margin-left: 20px;
}

/*
end section contact
*/

/*
start footer
*/

footer {
    line-height: 80px;
    background-color: #1d1d1d;
    text-align: right;
}

footer ul {
    padding: 0;
    margin: 0;
}

footer ul li {
    margin-left: 10px;
}

footer .copyright {
    font-size: 15px;
    color: #919191;
}

/*
end footer
*/

/*
start book1 page
*/

header.header .overlay1 {
    background-color: rgba(140, 60, 31, .8);
}

header.header img {
    max-width: 120%;
    min-height: 100%;
    margin-top: -30px;
    margin-right: -50px;
}

header.header .header-text p.summary {
    padding: 30px 0 60px;
}

header.header .header-text.h4 h4 {
    font-size: 35px;
    margin-bottom: 40px;
    line-height: 46px;
    color: #bbb9b9 !important;
    font-weight: bold;
}

ol.custom-breadcrumb-book1 {
    padding: 25px 0;
    background-color: transparent !important;
}

.custom-breadcrumb-book1 a {
    color: #914225;
    text-decoration: none !important;
}

.custom-breadcrumb-book1 a:hover {
    color: rgba(140, 60, 31, .6);
}

.custom-breadcrumb-book1>li+li::before {
    content: ">";
    color: #914225;
    padding: 0 5px;
}

.custom-breadcrumb-book1 .active {
    color: #bfbfbf;
}

section.book1 {
    margin-bottom: 60px;
}

section.Purchase_cart img {
    width: 50% !important;
    margin-top: 80px;
}

.custom-btn-with-icon {
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 18px;
    padding: 5px 10px 5px 10px;
}

/*
end book1 page
*/

/*
start book2 page
*/

header.header .overlay2 {
    background-color: rgba(45, 163, 226, .2);
}

ol.custom-breadcrumb-book2 {
    padding: 25px 0;
    background-color: transparent;
}

.custom-breadcrumb-book2 a {
    color: #2DA3E2;
    text-decoration: none !important;
}

.custom-breadcrumb-book2 a:hover {
    color: rgba(45, 163, 226, .4);
}

.custom-breadcrumb-book2>li+li::before {
    content: ">";
    color: #2DA3E2;
    padding: 0 5px;
}

.custom-breadcrumb-book2 .active {
    color: #bfbfbf;
}

/*
end book2 page
*/

@media (min-width: 1199px) {
    header.header .header-text.h4 h4 {
        font-size: 33px;
    }
    header.header .header-text.h4 p {
        font-size: 17px;
    }
}

@media (min-width: 991px) and (max-width: 1199px) {
    header.header img {
        max-width: 140%;
        min-height: 100%;
        margin-top: -30px;
        margin-right: -80px;
    }
}

@media (max-width: 1199px) {
    header .header-text h3 {
        font-size: 40px;
    }
    header .header-text p {
        padding: 30px 23% 60px;
    }
    header.header .header-text.h4 h4 {
        font-size: 33px;
    }
    header.header .header-text.h4 p {
        font-size: 17px;
    }
}

@media (max-width: 991px) {
    header .header-text h3 {
        font-size: 50px;
    }
    section.contact ul {
        margin: 0px 145px;
        white-space: nowrap;
    }
    section.contact #contact {
        margin: 0px 145px;
        white-space: nowrap;
    }
    nav.navbar {
        flex-wrap: nowrap !important;
    }
    header.header .header-text.h4 h4, header.header .header-text.h4 p {
        margin-right: 0;
    }
    section.Purchase_cart img {
        width: 100% !important;
    }
}

@media (max-width: 767px) {
    header .header-text h3 {
        font-size: 50px;
    }
    header .header-text p {
        padding: 30px 3% 60px;
    }
    section.contact {
        padding: 60px 0 40px;
    }
    section.contact ul {
        margin: 0;
    }
    section.contact #contact {
        margin: 0px;
    }
    section.books .title1 h5 {
        margin-top: 15px;
    }
    section.books #book1 {
        margin-top: 95px;
    }
    section.books .images img {
        margin-right: 20px;
    }
    section.books {
        margin-bottom: 200px;
    }
    header.header img {
        margin-bottom: 30px;
    }
    section.book1 {
        margin-bottom: 30px;
    }
    footer {
        line-height: 55px;
    }
    footer .copyright, footer .social-icon {
        width: 100%;
        text-align: center !important;
    }
    header.header img {
        max-width: 100%;
        margin-right: 0px;
    }
}

@media (max-width: 575px) {
    section.contact {
        padding: 60px 20px 40px;
    }
    section.contact .map iframe {
        margin: 0px -11px 0 0px;
        width: 350px;
    }
    a.btn-icon {
        font-size: 10px;
        margin-bottom: 25px;
    }
    a.btn-icon-book1, a.btn-icon-book2 {
        padding: 5px 10px 4px;
        color: #fff;
        margin-left: 50px;
        font-size: 12px;
    }
    header.header img {
        max-width: 90%;
        margin-right: 25px;
    }
    header.header .header-text.h4 h4 {
        padding: 0px 30px 0;
    }
    header.header .header-text p.summary {
        padding: 30px 30px 60px;
    }
    ol.custom-breadcrumb-book2 {
        padding: 25px 20px;
    }
    ol.custom-breadcrumb-book1 {
        padding: 25px 20px;
    }
}

@media (max-width: 471px) {
    section.Purchase_cart .title2 h3 {
        border-top: 1px solid #777;
        font-size: 30px;
        color: #555;
        line-height: 60px;
        padding: 25px 0 10px 0;
        margin: 0;
    }
}