@import "./_variables";
@mixin color-icon($color, $color-lighten) {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: $color;
    line-height: 40px;
    text-align: center;
    color: #bbb9b9;
    display: block;
    transition: all .5s ease;
    &:hover,
    &:active,
    &:focus,
    &:active:hover,
    &:active:focus {
        background-color: $color-lighten;
        color: #000;
    }
}
@mixin custom-btn-book($color, $color-lighten) {
    color: #fff;
    background-color: $color;
    border-color: $color;
    transition: all .5s ease;
    &:hover,
    &:focus,
    &:active,
    &:active:focus,
    &:active:hover {
        color: #000;
        border-color: $color-lighten;
        background-color: $color-lighten;
    }
}
@mixin btn-header-icon-book($color) {
    padding: 5px 10px 4px;
    color: #fff;
    border: 1px solid $color;
    background-color: $color;
    border-radius: 2px;
    margin-left: 50px !important;
    font-size: 20px;
}

