@import "./_variables";
@mixin color-icon($color, $color-lighten) {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: $color;
    line-height: 40px;
    text-align: center;
    color: #bbb9b9;
    display: block;
    &:hover,
    &:active,
    &:focus,
    &:active:hover,
    &:active:focus {
        background-color: $color-lighten;
        color: #777575;
    }
}
@mixin custom-btn-book1($color, $color-lighten) {
    color: #fff;
    background-color: $color;
    border-color: $color;
    &:hover,
    &:focus,
    &:active,
    &:active:focus,
    &:active:hover {
        color: #000;
        border-color: $color-lighten;
        background-color: $color-lighten;
    }
}
@mixin custom-btn-book2($color, $color-lighten) {
    color: #fff;
    background-color: $color;
    border-color: $color;
    &:hover,
    &:focus,
    &:active,
    &:active:focus,
    &:active:hover {
        color: #000;
        border-color: $color-lighten;
        background-color: $color-lighten;
    }
}
