$color-book-title: #555555;
$color-header-text: #bbb9b9;
$color-icon: #47090999;
$color-footer-icon: lighten($color-icon, 10%);
$custom-btn-book1-color: #924326;
$custom-btn-book1-color-hover: rgba(140, 60, 31, 0.7);
$custom-btn-book2-color: rgb(45, 163, 226);
$custom-btn-book2-color-hover: lighten($custom-btn-book2-color, 20%);
$custom-btn-book3-color: #2c5166;
$custom-btn-book3-color-hover: lighten($custom-btn-book3-color, 20%);
