@import "./_variables";
@import "./mixins";

section.books {
    .title {
        &:after {
            position: absolute;
            content: "";
            width: 150px;
            height: 2px;
            background-color: $color-book-title;
            left: 50%;
            transform: translateX(-50%);
        }
        h3 {
            font-size: 36px;
            color: $color-book-title;
            line-height: 120px;
            margin: 0px;
        }
    }
    .title2 {
        &:after {
            position: absolute;
            content: "";
            width: 300px;
            height: 2px;
            background-color: $color-book-title;
            left: 50%;
            transform: translateX(-50%);
        }
        h3 {
            font-size: 36px;
            color: $color-book-title;
            line-height: 120px;
            margin: 0px;
        }
    }
    .title1 {
        &:after {
            position: absolute;
            content: "";
            width: 120px;
            height: 2px;
            background-color: $color-book-title;
            left: 50%;
            transform: translateX(-50%);
        }
        h5 {
            font-size: 25px !important;
            color: $color-book-title;
            line-height: 120px;
            margin: 0px;
        }
    }
}
section.Purchase_cart {
    .title2 {
        &:after {
            position: absolute;
            content: "";
            width: 400px;
            height: 2px;
            background-color: $color-book-title;
            left: 50%;
            transform: translateX(-50%);
        }
        h3 {
            border-top: 1px solid #777;
            font-size: 36px;
            color: $color-book-title;
            line-height: 120px;
            margin: 0px;
        }
    }
}
header {
    .header-text {
        h3 {
            font-size: 40px;
            margin-bottom: 40px;
            line-height: 46px;
            color: $color-header-text;
            font-weight: bold;
        }
        p {
            font-size: 20px;
            color: $color-header-text;
            line-height: 30px;
            padding: 30px 25% 60px;
        }
    }
    a {
        &.btn-icon-book1 {
            @include btn-header-icon-book($custom-btn-book1-color);
        }

        &.btn-icon-book2 {
            @include btn-header-icon-book($custom-btn-book2-color);
        }
        &.btn-icon-book3 {
            @include btn-header-icon-book($custom-btn-book3-color);
        }
    }
}

footer {
    ul {
        li {
            a {
                @include color-icon($color-icon, $color-footer-icon);
            }
        }
    }
    &.book2 {
        ul {
            li {
                a {
                    @include color-icon($custom-btn-book2-color, $custom-btn-book2-color-hover);
                }
            }
        }
    }
    &.book3 {
        ul {
            li {
                a {
                    @include color-icon($custom-btn-book3-color, $custom-btn-book3-color-hover);
                }
            }
        }
    }
}
header {
    &.header {
        .overlay {
            background-color: #47090999;
        }
        .overlay1 {
            background-color: rgba(140, 60, 31, 0.8);
        }
        .overlay3 {
            background-color: rgba(44, 81, 102, 0.6);
        }
        .overlay2 {
            background-color: rgba(45, 163, 226, 0.2);
        }
    }
}
ol {
    &.custom-breadcrumb-book1 {
        padding: 25px 0;
        background-color: transparent;
        a {
            color: $custom-btn-book1-color;
            text-decoration: none;
            &:hover {
                color: lighten($custom-btn-book1-color, 40%);
            }
        }
        .active {
            color: #bfbfbf;
        }
        & > li + li::before {
            content: ">";
            color: $custom-btn-book1-color;
            padding: 0 5px;
        }
    }
    &.custom-breadcrumb-book2 {
        padding: 25px 0;
        background-color: transparent;
        a {
            color: $custom-btn-book2-color;
            text-decoration: none;
            &:hover {
                color: lighten($custom-btn-book2-color, 20%);
            }
        }
        .active {
            color: #bfbfbf;
        }
        & > li + li::before {
            content: ">";
            color: $custom-btn-book2-color;
            padding: 0 5px;
        }
    }
    &.custom-breadcrumb-book3 {
        padding: 25px 0;
        background-color: transparent;
        a {
            color: $custom-btn-book3-color;
            text-decoration: none;
            &:hover {
                color: lighten($custom-btn-book3-color, 30%);
            }
        }
        .active {
            color: #bfbfbf;
        }
        & > li + li::before {
            content: ">";
            color: $custom-btn-book3-color;
            padding: 0 5px;
        }
    }
}

.custom-btn-book1 {
    @include custom-btn-book($custom-btn-book1-color, $custom-btn-book1-color-hover);
}
.custom-btn-book2 {
    @include custom-btn-book($custom-btn-book2-color, $custom-btn-book2-color-hover);
}
.custom-btn-book3 {
    @include custom-btn-book($custom-btn-book3-color, $custom-btn-book3-color-hover);
}
